<div class='col-md-4'>
  <h3>{{name}}</h3>
  <ul class='list-group'>
    {{#if formattedPrice}}
    <li class='list-group-item'>{{formattedPrice}}</li>
    {{/if}}

    {{#if url}}
    <li class='list-group-item'>{{url}}</li>
    {{/if}}
  </ul>
  {{#link-to 'gift.edit' this class='btn btn-default'}}Edit{{/link-to}}
  <a href='#' {{action 'destroy'}} class='btn btn-danger'>Destroy</a>
</div>
