<div class='row'>
  <div class='col-md-8'>
    <h2>My List</h2>
    <table class='table table-striped table-hover'>
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
        </tr>
      </thead>

      {{#each}}
      <tr>
        <td data-role='name'>{{#link-to 'gift' this}}{{name}}{{/link-to}} </td>
        <td data-role='price'>{{price}}</td>
      </tr>
      {{/each}}
    </table>
    {{#link-to 'gifts.new'}}+{{/link-to}}
  </div>

  {{outlet}}
</div>
{{outlet newGift}}
